__pycache__/
*.pyc

.idea/
.vscode/

data/raw/*
!data/raw/.gitkeep
!data/raw/cwru_12k_de/
data/raw/cwru_12k_de/*
!data/raw/cwru_12k_de/README.md
data/raw/cwru_12k_de/*.mat

data/processed/*
!data/processed/.gitkeep

outputs/checkpoints/*
!outputs/checkpoints/.gitkeep

outputs/logs/*
!outputs/logs/.gitkeep

outputs/figures/*
!outputs/figures/.gitkeep

outputs/experiments/

*.pt
*.pth
